@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* General specifics */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

h1 {
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
  padding: 20px 0 0 0;
}

  .main-container { 
    width: 90vw;
    margin: auto;
    height: 100vh;
}
/* Responsive */

@media(max-width: 992px) {
  .main-container { width: 700px; }
}

@media(max-width: 768px) {
  .main-container { width: 500px; }
  .hero-text h1 { font-size: 30px;}
}

@media(max-width: 480px) {
  .main-container { width: 350px; }
  .hero-text h1 { font-size: 25px;}
}


/* nav bar */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30x 10%;
}

#nav-menu {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 20px;
}

.btn-ghost {
  color: black;
  border: 2px solid black;
  padding: 10px 40px;
  margin: 2 0px 20px;
  border-radius: 50px;
  font-weight: light;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  font-weight: bolder;
}

.btn-ghost:active {
  font-weight: bolder;
  text-decoration: underline;
}
/* Hero banner */


.greeting {

  font-size: 48px;
  position: absolute;
  left: 0px;
  width: 50vw;
  
}

.rotation {
  position: absolute;
  text-align: start;
  right: 0px;
  width: 50vw;
  font-size: 44px;
}

.hero-text {
  text-align: center;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 60px;
  padding: 10px;
}
/* Subheader */

.subheader {
  width: 100%;
  padding: 30px;
}

.subheader h3 {
  font-size: 16px;
  text-justify: center;
  text-align: center;
  font-weight: 400;
}

#main-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding: 80px 50px;
  border-radius: 50%;
  height: 400px;
  overflow: hidden;
  opacity: 0.8;
  border-color: lightblue;

}

/* Links */

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-link {
  font-size: 30px;
  text-align: center;
  color: black;
  margin: auto;
  padding: 25px;
  border-radius: 50px;
  opacity: 0.6;
  margin: 20px;
}


.projects-link:hover {
  border: 2px solid black;
  opacity: 1;
}

.projects-link:active {
  text-decoration: underline;
  opacity: 1;
}

/* Projects */

.divide-column {
  display: flex;
  column-count: 2;
  justify-content: space-between;
  flex-direction: column;
  width: 100vw;
  flex-wrap: nowrap;
}

.dev {
  width: 90vw;
  height: 70vh;
  display: flex;
  flex-direction: row;
}

.recent-card {
  background-image: cover;
  width: 50vw;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  column-count: auto;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-align: center;
  font-size: 10px;
  color: white;
}

.eatsy-card {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(assets/images/sharefood.jpeg);

}

.toolbox-card {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(assets/images/toolbox-card.jpeg);
  font-size: 30px;
}

.toolbox-card h2 {
  padding: 26px;
}

.recent-card img {
  max-width: 100%;
  max-height: 100%; 
  padding: 20px;
}

.recent-card p {
  padding: 15px;
  font-size: 15px;
  font-style: italic;
}

.recent-link {
  width: 30%;
  height: 10vh;
  font-size: 15px;
  color: white;
  border: 3px solid white;
  border-radius: 30px;
  margin: 10px;
  text-justify: center;
}

.recent-link:hover {
  opacity: 0.5;
}

.recent-link:active {
  opacity: 0.5;
}